<div class="main-content">
    <h1>Call In Use</h1>

    <div>
        <h2>Customer</h2>
        <form [formGroup]="customerForm" (ngSubmit)="update()">
            <input hidden formControlName="id">
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput formControlName="title">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput formControlName="surName">
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile</mat-label>
                            <input matInput formControlName="mobile">
                        </mat-form-field>
                    </td>
                    <td>
                        <button class="callButton" mat-raised-button color="primary" (click)="callMobile()">
                            <mat-icon aria-hidden="false">call</mat-icon>
                            Call Mobile Phone
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Home</mat-label>
                            <input matInput formControlName="home">
                        </mat-form-field>
                    </td>
                    <td>
                        <button class="callButton" mat-raised-button color="primary" (click)="callHome()">
                            <mat-icon aria-hidden="false">call</mat-icon>
                            Call Home Phone
                        </button>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="updateButton" mat-raised-button color="accent" type="submit" [disabled]="!customerForm.valid">
                            Update
                        </button>
                        <a *ngIf="!updated" class="resetButton" mat-raised-button color="accent" (click)="reset()">
                            Reset
                        </a>
                        <a *ngIf="updated" disabled class="resetButton" mat-raised-button color="accent" (click)="reset()">
                            Reset
                        </a>
                    </td>
                </tr>
            </table>
        </form>

        <button class="completeButton" mat-raised-button color="primary" [routerLink]="['/calls']">
            Call Completed
        </button>
    </div>
</div>