<h1>Call In Use</h1>

<div class="main-content">

    <div>
        <h2>Customer</h2>
        <form [formGroup]="customerForm" (ngSubmit)="update()">
            <input hidden formControlName="id">
            <table>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Title</mat-label>
                            <input matInput id="title" formControlName="title" required>
                            <mat-error *ngIf="title.invalid">Title is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput id="firstName" formControlName="firstName" required>
                            <mat-error *ngIf="firstName.invalid">First name is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput id="surName" formControlName="surName" required>
                            <mat-error *ngIf="surName.invalid">Surname is required</mat-error>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Mobile</mat-label>
                            <input type="tel" id="mobile" matInput formControlName="mobile" required>
                            <mat-error *ngIf="mobile.invalid">Mobile is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <a class="callButton" mat-raised-button color="primary" href="tel://{{customer.mobile}}">
                            <mat-icon aria-hidden="false">call</mat-icon>
                            Call Mobile Phone
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="outline">
                            <mat-label>Home</mat-label>
                            <input type="tel" id="home" matInput formControlName="home" required>
                            <mat-error *ngIf="home.invalid">Home is required</mat-error>
                        </mat-form-field>
                    </td>
                    <td>
                        <a class="callButton" mat-raised-button color="primary" href="tel://{{customer.home}}">
                            <mat-icon aria-hidden="false">call</mat-icon>
                            Call Home Phone
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button class="updateButton" mat-raised-button color="accent" [disabled]="!customerForm.valid">
                            Update
                        </button>
                        <a *ngIf="!updated" class="resetButton" mat-raised-button color="accent" (click)="reset()">
                            Reset
                        </a>
                        <a *ngIf="updated" disabled class="resetButton" mat-raised-button color="accent"
                            (click)="reset()">
                            Reset
                        </a>
                    </td>
                </tr>
            </table>
        </form>

        <button class="completeButton" mat-raised-button color="primary" (click)="completeCall()" [routerLink]="['/calls']">
            Call Completed
        </button>
    </div>
</div>