.searchBar {
    display: flex;
    margin-left: 350px;
    margin-right: 350px;
}

.searchBarCol {
    margin-right: 30px;
}

.searchButton {
    height: 60px;
    font-size: 20px;
    float: right;
}

.searchButtonCol{
    padding-top: 60px;
    width: 100%;
}

.tableDiv {
    margin: 50px 350px 50px 350px;
}

table {
    width: 100%;
}

.mat-header-cell {
    font-weight: bold;
    font-size: large;
    background-color: #bababa;
}

.mat-row:hover .mat-cell {
    background-color: #673ab7;
    color: #ffffff;
}