.main-content {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
}

.searchBar {
    display: flex;
    
    margin-bottom: 50px;
}

.searchBarCol {
    margin-right: 30px;
}

.searchButton {
    height: 60px;
    font-size: 20px;
    float: right;
}

.searchButtonCol{
    padding-top: 60px;
    width: 100%;
}
   
table {
    width: 100%;
    margin-bottom: 20px;
}

.mat-header-cell {
    font-weight: bold;
    font-size: large;
    background-color: #bababa;
}

.mat-row:hover .mat-cell {
    background-color: #673ab7;
    color: #ffffff;
}

.makeCallButton, p{
    float: right;
}